
@{
    ViewBag.Title = "Index";
}


<div class="sectionIndexContainer">
    <div class="pageHeaderText">Admin</div>
    <div id="adminIndexLinks">
        <div class="btn">@Html.ActionLink("Blog", "Blog", "Admin")</div>
        <div class="btn">@Html.ActionLink("Portfolio", "Portfolio", "Admin")</div>
    </div>
</div>

